;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[lilactown/helix "0.1.9"]
  [metosin/malli "0.10.0"]
  [com.teknql/shadow-cljs-tailwind-jit "1.0.0"]]

 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"
   :modules
   {:main
    {:init-fn helix-init.app/init}}
   :dev
   {:build-hooks
    [(teknql.tailwind/start-watch!)]}
   :release
   {:build-hooks
    [(teknql.tailwind/compile-release!)]
    :compiler-options
    {:trusted-strings true}}
   :devtools
   {:http-root   "resources/public/" ;; Must be set to infer default purge targets.
    :http-port   3000}
   :tailwind/files {:base-path "."}
   :tailwind/output "resources/public/css/site.css"}}}
